* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.beagle-blog-section{
    border: 1px solid black;
    padding: 1.5rem;
}

span {
    font-style: italic;
    font-weight: bold;
}

h1 {
    text-decoration: underline;
    font-size: xx-large;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

img {
    width: 30rem;
}

p, li {
    font-size: 1.4rem;
    word-spacing: 2px;
    line-height: 1.8rem;
}

a{
    font-size: larger;
}

li{
    line-height: 2.2rem;
    list-style-position: inside;
}

